{
  "production": {
    "api_endpoint": "api.pin.net.au",
    "publishable_key": "",
    "secret_key": "",
    "db": "pindonate"
  },

  "testing": {
    "api_endpoint": "test-api.pin.net.au",
    "publishable_key": "",
    "secret_key": "",
    "db": "pindonateTesting"
  }
}
