<!DOCTYPE html>
<html lang="en">
    
    <head>
        <meta charset='utf-8'>
        <title>Donate</title>
        <link type="text/css" rel="stylesheet" href="/static/bootstrap.min.css">
        <link type="text/css" rel="stylesheet" href="/static/bootstrap-responsive.min.css">
        <link rel="stylesheet" type="text/css" href="/static/webfonts.css">
        <link rel="stylesheet" type="text/css" href="/static/logo.css">
        <link rel="stylesheet" type="text/css" href="/static/style.css">
        <script src="https://{{api_endpoint}}/pin.js"></script>
        <script src="http://code.jquery.com/jquery-1.9.1.min.js"></script>
        <script>
            $(function () {

                Pin.setPublishableKey('{{publishable_key}}');
                // Now we can call Pin.js on form submission to retrieve a card token and submit
                // it to the server

                var $form = $('form'),
                    $submitButton = $form.find(":submit"),
                    $errors = $form.find('.errors');

                $form.submit(function (e) {

                    e.preventDefault();
                    $errors.hide();

                    // Disable the submit button to prevent multiple clicks
                    $submitButton.attr({
                        disabled: true
                    });
                    $submitButton.val("Processing donation...");

                    // Fetch details required for the createToken call to Pin
                    var card = {
                        number: $('#number').val(),
                        name: $('#name').val(),
                        expiry_month: $('#expiry_month').val(),
                        expiry_year: $('#expiry_year').val(),
                        cvc: $('#cvc').val(),
                        address_line1: $('#address_line1').val(),
                        address_line2: $('#address_line2').val(),
                        address_city: $('#address_city').val(),
                        address_state: $('#address_state').val(),
                        address_postcode: $('#address_postcode').val(),
                        address_country: $('#address_country').val()
                    };

                    var hasError = false;
                    for (var prop in card) {
                      if (card[prop] == null || card[prop] === "") {
                        if (prop == "address_line2") {
                          continue;
                        }
                        hasError = true;
                        $("#" + prop).closest(".control-group").addClass("error");
                      }
                    }

                    if ($("#donation-amount").val() == "" || $("#donation-amount").val() == null ||
                          parseFloat($("#donation-amount").val()) < 5) {
                        hasError = true;
                        $("#donation-amount").closest(".control-group").addClass("error");
                    }
                    
                    if ($("#email").val() == "" || $("#email").val() == null) {
                        hasError = true;
                        $("#email").closest(".control-group").addClass("error");
                    }
                    
                    if (hasError) {
                      $(".error").first().find("input, select").focus();
                      $submitButton.attr({
                        disabled: false
                      });
                      $submitButton.val("Submit");
                      return;
                    }

                    // Request a token for the card from Pin
                    Pin.createToken(card, handlePinResponse);
                });

                function handlePinResponse(response) {
                    var $form = $('form');

                    if (response.response) {
                        // Add the card token and ip address of the customer to the form
                        // You will need to post these to Pin when creating the charge.
                        $('<input>')
                            .attr({
                            type: 'hidden',
                            name: 'card_token'
                        })
                            .val(response.response.token)
                            .appendTo($form);
                        $('<input>')
                            .attr({
                            type: 'hidden',
                            name: 'ip_address'
                        })
                            .val(response.ip_address)
                            .appendTo($form);

                        // Resubmit the form
                        $form.get(0).submit();

                    } else {
                        $errors.find('h3').text(response.error_description);
                        $(".error").removeClass('error');

                        $.each(response.messages, function (index, errorMessage) {
                            var node = $("#" + errorMessage.param);
                            node.closest(".control-group").addClass("error");
                        });

                        $submitButton.removeAttr('disabled');
                        $submitButton.val("Submit");
                        $(".error").first().find("input, select").focus();
                    }
                };
            });
          </script>
    </head>
    
    <body>
        <div class="container">
<div style="min-height: 80px">
<h1>
<a href="http://pirateparty.org.au" class="logo">
<div>
<span class="logo-bold-blue">pirate</span>party
</div>
<div class="logo-australia">Donation Portal{% if mode == "testing" %} TEST MODE ENABLED{% end %}</div>
</a>
</h1>
</div>
          <form method='post'>
                {% if referer %}
                <input type="hidden" name="referer" value="{{referer}}">
                {% end %}
                <input type="hidden" name="nonce" value="{{nonce.uuid.hex}}">
                <div class="alert flat alert-info">
                   Thanks for donating to the Pirate Party!
                </div>
                <div class="row">
                  <div class='span6'>
                      <div class='well'>
                        Please enter a donation amount. ($5 minimum)
                      </div>
                  </div>
                   <div class="span2">
                     <div class="control-group">
                       <label class="control-label" for="donation-amount"><strong>Donation Amount</strong></label>
                       <div class="controls input-prepend"> 
                         <span class="add-on">$</span>
                         <input type="text" class="span1" id="donation-amount" name='amount' value="25">
                         <span class="help-inline">Please enter an amount ($5 or more)</span>
                       </div>
                    </div>
                  </div>
                </div>
                <div class="row">
                    <div class='span12'>
                    <h2>Billing Details</h2>
                            <div class="control-group">
                                <label class="control-label" for="address_line1">Address</label>
                                <div class="controls">
                                    <input type="text" class="span6" id="address_line1">
                                    <span class="help-inline">Address cannot be blank.</span>
                                </div>
                            </div>
                            <div class="control-group">
                                <label class="control-label" style="display:none" for="address_line2">Address - line 2</label>
                                <div class="controls">
                                    <input type="text" class="span6" id="address_line2">
                                </div>
                            </div>
                            <div class='row'>
                                <div class='span2'>
                                    <div class="control-group">
                                        <label class="control-label" for="address_city">Suburb</label>
                                        <div class="controls">
                                            <input type="text" class="span2" id="address_city">
                                            <span class="help-inline">Suburb cannot be blank.</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="span1">
                                    <div class="control-group">
                                        <label class="control-label" for="address_state">State</label>
                                        <div class="controls">
                                            <input type="text" class="span1" id="address_state">
                                            <span class="help-inline">State cannot be blank.</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="span1">
                                    <div class="control-group">
                                        <label class="control-label" for="address_postcode">Postcode</label>
                                        <div class="controls">
                                            <input type="text" class="span1" id="address_postcode">
                                            <span class="help-inline">Postcode cannot be blank.</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="control-group">
                                <label class="control-label" for="address_country">Country</label>
                                <div class="controls">
                                    <input type="text" class="span3" id="address_country" value="Australia">
                                    <span class="help-inline">Country cannot be blank.</span>
                                </div>
                            </div>
                            <div class="control-group">
                                <label class="control-label" for="email">Email</label>
                                <div class="controls">
                                    <input type="email" id="email" name="email" class="span3">
                                    <span class="help-inline">Email address cannot be blank.</span>
                                </div>
                            </div>
                    </div>
                </div>
                <div class="row">
                    <div class='span12'>
                    <h2>Credit/Debit Card Details</h2>
                            <div class="control-group">
                                <label class="control-label" for="number">Credit/Debit Card Number</label>
                                <div class="controls">
                                    <input type="text" class="span4" id="number">
                                    <span class="help-inline">Please enter a valid number.</span>
                                </div>
                            </div>
                            <div class="control-group">
                                <label class="control-label" for="name">Full Name</label>
                                <div class="controls">
                                    <input type="text" class="span4" id="name">
                                    <span class="help-inline">Full name cannot be blank.</span>
                                </div>
                            </div>
                            <div class="row">
                                <div class="span1">
                                    <div class="control-group">
                                        <label class="control-label" for="expiry_month">Month</label>
                                        <div class="controls">
                                            <select id="expiry_month" class="span1">
                                                <option value="01">01</option>
                                                <option value="02">02</option>
                                                <option value="03">03</option>
                                                <option value="04">04</option>
                                                <option value="05">05</option>
                                                <option value="06">06</option>
                                                <option value="07">07</option>
                                                <option value="08">08</option>
                                                <option value="09">09</option>
                                                <option value="10">10</option>
                                                <option value="11">11</option>
                                                <option value="12">12</option>
                                            </select>
                                            <span class="help-inline">Select the correct date.</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="span1">
                                    <div class="control-group">
                                        <label class="control-label" for="expiry_year">Year</label>
                                        <div class="controls">
                                            <select id="expiry_year" class="span1"></select>
                                            <span class="help-inline">Select the correct date.</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="span3">
                                    <div class="control-group">
                                        <label class="control-label" for="cvc">CVV</label>
                                        <div class="controls">
                                            <input type="text" class="span1" id="cvc">
                                            <span class="help-inline">Enter a valid CVV/CVC.</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="alert flat alert-danger" style="text-align: center">
                              <input type="submit" class="btn btn-primary">
                            </div>
                    </div>
                </div>
              </form>
              <div class='pull-right'>
                
                <a target="_blank" href="http://pirateparty.org.au/privacy">Privacy Policy</a>
                |
                <a target="_blank" href="http://pirateparty.org.au/contact">Contact Us</a>
              </div>
        </div>
        <script>
            var thisYear = new Date().getFullYear(),
                node = $("#expiry_year");
            for (var i = thisYear; i < thisYear + 12; ++i) {
                $(document.createElement('option')).attr('value', i).text(i)
                    .appendTo(node);

            }
            $("input, select").change(function() {
              if ($(this).val() != "" && $(this).val() != null) {
                $(this).closest('.error').removeClass('error');
              }
            });
        </script>
    </body>

</html>
