<!DOCTYPE html>
<html lang="en">
    
    <head>
      <meta charset='utf-8'>
      <meta name="viewport" content="width=device-width,initial-scale=1">
        <title>Donate</title>
        <link type="text/css" rel="stylesheet" href="/static/bootstrap.min.css">
        <link type="text/css" rel="stylesheet" href="/static/bootstrap-responsive.min.css">
        <link rel="stylesheet" type="text/css" href="/static/webfonts.css">
        <link rel="stylesheet" type="text/css" href="/static/logo.css">
        <link rel="stylesheet" type="text/css" href="/static/style.css">
    <body>
        <div class="container">
<div style="min-height: 80px">
<h1>
<a href="http://pirateparty.org.au" class="logo">
<div>
<span class="logo-bold-blue">pirate</span>party
</div>
<div class="logo-australia">Donation Portal{% if mode == "testing" %} TEST MODE ENABLED{% end %}</div>
</a>
</h1>
</div>
  
  <div class="alert alert-danger flat">
    <p><strong>Woops, we're sorry! An error has occurred.</strong></p>
    <p>Unfortunately, there has been an error in processing your transaction. Please send an email to <a href="mailto:enquiries@pirateparty.org.au">enquiries@pirateparty.org.au</a> and we'll assist you as soon as possible</p>
    <p>We are very sorry for the inconvenience, and thank you for your continued support.</p>
  </div>


</div>
    
</body>

</html>
