<!DOCTYPE html>
<html lang="en">
    
    <head>
      <meta charset='utf-8'>
      <meta name="viewport" content="width=device-width,initial-scale=1">
        <title>Donate</title>
        <link type="text/css" rel="stylesheet" href="/static/bootstrap.min.css">
        <link type="text/css" rel="stylesheet" href="/static/bootstrap-responsive.min.css">
        <link rel="stylesheet" type="text/css" href="/static/webfonts.css">
        <link rel="stylesheet" type="text/css" href="/static/logo.css">
        <link rel="stylesheet" type="text/css" href="/static/style.css">
    </head>
    
    <body>
        <div class="container">
<div style="min-height: 80px">
<h1>
<a href="http://pirateparty.org.au" class="logo">
<div>
<span class="logo-bold-blue">pirate</span>party
</div>
<div class="logo-australia">Donation Portal{% if mode == "testing" %} TEST MODE ENABLED{% end %}</div>
</a>
</h1>
</div>
  
  <div class="alert alert-success">
    <strong>Your donation has been processed.</strong>
    <p>Your reference: {{token}}<br>
    Your donation amount: ${{amount}}</p>
    <p>Thanks for your support!</p>
    <div class="btn-group">
      <button class='btn btn-info' onclick='print()'>Print Receipt</button>
      <a class='btn btn-primary' href="http://pirateparty.org.au">Return to Pirate Party Australia</a>
    </div>
  </div>


</div>
    
</body>

</html>
